<div class="content-wrapper home-page">
    <div class="container mt-md-20">
        <div class="content hero">
            <h1 class="text-center site-title">Stackable Data Platform CRD Docs</h1>
            <ul>
                <li><a href="/stackabletech/airflow-operator">Airflow Operator</a></li>
                <li><a href="/stackabletech/druid-operator">Druid Operator</a></li>
                <li><a href="/stackabletech/hbase-operator">HBase Operator</a></li>
                <li><a href="/stackabletech/hdfs-operator">HDFS Operator</a></li>
                <li><a href="/stackabletech/hive-operator">Hive Operator</a></li>
                <li><a href="/stackabletech/kafka-operator">Kafka Operator</a></li>
                <li><a href="/stackabletech/nifi-operator">NiFi Operator</a></li>
                <li><a href="/stackabletech/spark-k8s-operator">Spark Operator</a></li>
                <li><a href="/stackabletech/superset-operator">Superset Operator</a></li>
                <li><a href="/stackabletech/trino-operator">Trino Operator</a></li>
                <li><a href="/stackabletech/zookeeper-operator">ZooKeeper Operator</a></li>
                <li><a href="/stackabletech/opa-operator">OPA Operator</a></li>
                <li><a href="/stackabletech/commons-operator">Commons Operator</a></li>
                <li><a href="/stackabletech/listener-operator">Listener Operator</a></li>
                <li><a href="/stackabletech/secret-operator">Secret Operator</a></li>
            </ul>
        </div>
    </div>
</div>

{{ template "_scripts" . }}

<style>
    .home-page .hero {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .home-page .hero .site-title {
        margin-bottom: 2rem;
    }

    .home-page .org-links {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .home-page .org-link {
        font-size: 2rem;
    }

    @media screen and (max-width: 575px) {
        .home-page .org-links {
            row-gap: .5rem;
        }

        .home-page .org-link {
            font-size: 1.6rem;
        }
    }
</style>
